@model AutoPartsWebSite.Models.InvoiceDistribution

@{
    ViewBag.Title = "НОВОЕ РАСПРЕДЕЛЕНИЕ ПОЗИЦИИ ИНВОЙСА";
}

<DIV class="main-text">
    <h1 id="cntr">@ViewBag.Title</h1>
    <div class="reg-form">
        <br>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.InvoiceItemId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InvoiceItemId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OrderItemId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OrderItemId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.DropDownListFor(model => model.OrderItemId, (IEnumerable<SelectListItem>)ViewBag.OrderItemsList, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OrderItemId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                        
                        @Html.TextBox("Quantity", "0", new { Id = "Quantity", type = "number", min = "0", max = ViewBag.invoiceItemRest })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="ДОБАВИТЬ" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        @ViewBag.Message
    </div>
    </br>
    <div id="cntr">
        @Html.ActionLink("Назад к списку позиций", "IndexInvoiceItems", new { id = ViewBag.InvoiceId })
    </div>
</DIV>
