@model IEnumerable<AutoPartsWebSite.Models.InvoiceItem>

@{
    ViewBag.Title = "ПОЗИЦИИ ИНВОЙСА № " + ViewBag.CurrentInvoice.Number + " от " + ViewBag.CurrentInvoice.Date.ToString("dd.MM.yyyy");
}

<DIV class="main-text">
    <h1 id="cntr">@ViewBag.Title</h1>
</DIV>

<div class="alink2" id="cntr"> 
    @Html.ActionLink("ПЕРЕ-РАСПРЕДЕЛИТЬ", "Distribution", new { id = Model.FirstOrDefault().InvoiceId })
</div>	
<table class="table">
    <tr>
        <th>
            Марка
        </th>
        <th>
            Номер
        </th>
        <th>
            Количество
        </th>        
        @*<th>
            Статус
        </th>*@
        <th>
            Распределение
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity) (@Html.DisplayFor(modelItem => item.Rest))
        </td>        
        @*<td>            
            @item.getInvoiceItemStates().First(itm => itm.Value == item.State.ToString()).Text
        </td>*@
        <td>   
            @*PartialView*@         
            @Html.Action("IndexInvoiceDistribution", new { id = item.Id })
        </td>
        
    </tr>
}

</table>

<br>
<div id="cntr">
    @Html.ActionLink("Назад к списку инвойсов", "Index")
</div>

