@model IEnumerable<AutoPartsWebSite.Models.InvoiceDistribution>

<table class="table">
    <tr> 
        <th>
            Заказ
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>            
            № @Html.DisplayFor(modelItem => item.OrderId) # @Html.DisplayFor(modelItem => item.OrderItemId) от @Html.DisplayFor(modelItem => item.OrderDate) - @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>       
    </tr>
}

</table>
