@model PagedList.IPagedList<AutoPartsWebSite.Models.Invoice>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ИНВОЙСЫ";
}

<DIV class="main-text">
    <h1 id="cntr">@ViewBag.Title</h1>
    <div class="reg-form">
        <br>
        @using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
        {
            <p>
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "НОМЕР ИНВОЙСА" })
                <input type="submit" value="НАЙТИ" />
            </p>
        }
    </div>

<div class="alink2" id="cntr">
            @Html.ActionLink("НОВЫЙ ИНВОЙС", "Create")
            @*@Html.ActionLink("РАСПРЕДЕЛЕНИЕ", "Distribution")*@
            <a href="~/Content/files/ALFAPARTS-Invoice.xlsx">СКАЧАТЬ ШАБЛОН</a>

</div>	
	
    <table class="table">
        <tr>

            <th>
                @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Номер инвойса", "Index", new { sortOrder = ViewBag.NumberSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Поставщик
            </th>
            <th>
                Статус
            </th>
            <th>
                К-во позиций
            </th>
            <th>
                Пользователь
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.State)*@
                    @item.getInvoiceStates().First(itm => itm.Value == item.State.ToString()).Text
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Распределить", "IndexInvoiceItems", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    <br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</DIV>

